<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lexicom.Example.Wpf.Amenities.Wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Lexicom.Example.Wpf.Amenities.Wpf.Properties.Settings>
            <setting name="WindowOptions_Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowOptions_Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowOptions_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowOptions_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowOptions_IsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
        </Lexicom.Example.Wpf.Amenities.Wpf.Properties.Settings>
    </userSettings>
</configuration>